<section class="grid-section post-title">
<input type="hidden" name="id" value="{{postagem._id}}">

    <h3 class="titulo">{{postagem.titulo}}</h3>
    <span class="data">{{postagem.data}}</span>
    <span class="data">{{categoria.nome}}</span>
    <hr>
    <p class="conteudo">{{postagem.conteudo}}</p>






</section>